.container {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardItem {
  display: flex;
  width: 280px;
  height: 330px;
  margin-bottom: 10px;
}

.reload {
  margin-top: 10px;
  background: #fff;
  border: 1px solid #1b7bff;
  border-radius: 2px;
  color: #1b7bff;
  cursor: pointer;
}
.reload:active {
  background: #e9f2ff;
}